.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F4F7F5;
    height: 100%;
}

header {
    background-color: #222823;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    color: #F4F7F5;
    font-weight: 600;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.buttons-wrapper {
    display: grid;
    margin-top: 200px;
}
