.root-receitas {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F4F7F5;
    height: 100%;
}

.header-receitas {
    background-color: #222823;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 62px;
    color: #F4F7F5;
    font-weight: 600;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.header-receitas span {
    position: absolute;
    left: -155px;

}

.buttons-wrapper-receitas {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 120px;
}

.add-button-wrapper-receitas {
    position: fixed;
    bottom: 25px;
    width: 100%;
    z-index: 10;
}

.add-button-wrapper-receitas div {
    width: 80px;
    height: 80px;

    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
    background-color: #575A5E;
}