.cardsreceita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 100%;

    background: #222823;

    border-radius: 13px;
    margin: 10px;
}

.cardstitle-receita {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    width: 100%;
    height: 30%;

    color: #F4F7F5;

    margin: 15px 10px 10px 40px;
}

.titulo-receita  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.detalhes-receita  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #F4F7F5;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0.245em;

    height: 50%;
    width: 100%;

    margin-bottom: 15px;
}

.detalhes-receita  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 4px;
}

.detalhes-receita  div .detalhes-titulo-receita  {
    text-align: left;
    font-size: 16px;
    margin-left: 30px;
    width: 60%;
}

.detalhes-receita  div .detalhes-info-receita {
    font-size: 16px;
    width: 30%;
}

.produzir-receita  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    background: #575A5E;

    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    height: 61px;
}

.roundedbar-receita  {
    display: flex;
    align-items: center;
    
    width: 304px;
    height: 38px;
    
    border-radius: 20px; /* Arredondado nas pontas */
    background: #575A5E; /* Alterado para cinza escuro */
    overflow: hidden;
}

.minus-receita {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 51px; /* Reduzido o tamanho */

    background: #FF5B5B;
    border-radius: 20px 0px 0px 20px;

    font-weight: bold;
    color: white;
}

.tituloprod-receita  {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 210px; /* Reduzido o tamanho */
    
    font-weight: bold;
    color: #222823;

    background: #82FF96;
    z-index: 2;
    border-top-right-radius: 20px; /* Arredondado apenas na ponta direita */
    border-bottom-right-radius: 20px; /* Arredondado apenas na ponta direita */
}

.vezes-receita  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    height: 38px;
    width: 51px; /* Reduzido o tamanho */
    color: #FFFFFF;
    
    font-weight: bold;

    background: black; /* Alterado para cinza escuro */
    border-radius: 20px;
    z-index: 1;
}

.vezes-receita::after {
    position: absolute;

    height: 38px;
    width: 400px;

    background-color: black;
    z-index: -1;

    content: '';
}